{% extends 'base.html' %}

{% block title %}
Sign Up
{% endblock %}


{% block content %}
<div class="container">
    <h3 class="text-center text-danger">Sign Up</h3> <hr>
    <div class="row mx-auto">
        <div class="col-md-6 offset-4">
            <form action="" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <input class="btn btn-success" type="submit" value="Signup">
                <a  class="btn btn-info" href="{% url 'home' %}">Forget Password?</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}